<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.keep.mapper.ClassDetailMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.keep.domain.ClassDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="classimg" property="classimg" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
      <result column="breath" property="breath" jdbcType="VARCHAR" />
      <result column="feeling" property="feeling" jdbcType="VARCHAR" />
      <result column="classdetailimglit" property="classDetailImgLit" jdbcType="VARCHAR" />
      <result column="classdetailimgdes" property="classDetailImgDes" jdbcType="VARCHAR" />
      <association property="questions" javaType="com.qfedu.keep.domain.Question">
          <id column="quesid" property="id"></id>
          <result column="question" property="question"></result>
          <result column="solution" property="solution"></result>
      </association>
      <collection property="csteps" ofType="com.qfedu.keep.domain.Cstep">
          <id column="stepid" property="id"></id>
         <result column="scontent" property="content"></result>
      </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sid, classimg, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_classdetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_classdetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.keep.domain.ClassDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_classdetail (name, sid, classimg, 
      content)
    values (#{name,jdbcType=VARCHAR}, #{sid,jdbcType=INTEGER}, #{classimg,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.keep.domain.ClassDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_classdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="classimg != null" >
        classimg,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="classimg != null" >
        #{classimg,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.keep.domain.ClassDetail" >
    update tb_classdetail
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="classimg != null" >
        classimg = #{classimg,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.keep.domain.ClassDetail" >
    update tb_classdetail
    set name = #{name,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=INTEGER},
      classimg = #{classimg,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectBySid" resultMap="BaseResultMap">
    SELECT detail.*, ques.id quesid,ques.question,ques.solution, step.id stepid, step.content scontent FROM tb_classdetail detail
LEFT JOIN tb_question ques
on detail.id = ques.cdid
LEFT JOIN tb_cstep step
on detail.id = step.cstepdid
WHERE detail.sid = #{sid}
  </select>
</mapper>